body {
    margin: 0;
    background: #f5f5f5;
    font-family: Arial, sans-serif;
}

.verify-container {
    width: 350px;
    margin: 120px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    text-align: center;
    display: none;
}

.verify-container input {
    width: 95%;
    padding: 10px;
    margin: 10px 0 20px;
    font-size: 16px;
}

.verify-container button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    background: #3b6cff;
    color: white;
    cursor: pointer;
}
.verify-container button:hover {
    background: #2d52cc;
}

/* POPUP */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.55);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup {
    background: white;
    width: 90%;
    max-width: 380px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.code-inputs {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.code {
    width: 45px;
    height: 55px;
    font-size: 24px;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #bbb;
}

.code:disabled {
    background: #eee;
}

.verify-btn, .close-btn {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.verify-btn {
    background: #3b6cff;
    color: white;
}

.verify-btn:hover {
    background: #2d52cc;
}

.confirmPassword {
    display: flex;
    width: 350px;
    margin: 120px auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    text-align: center;
}
.password-inputs {
    display: block;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    line-height: 1.5;
}

.password-inputs input {
    width: 90%;
    height: 35px;
    font-size: 16px;
    margin-top: 15px;
    padding: 0 10px;
}

.confirm-container {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    background: #ffffff;
    color: #1b0f62;
    cursor: pointer;
}

.confirm-container button {
    width: 90%;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    margin: 10px 0 20px;
    border: none;
    color: white;
    background: #3b6cff;
}
 button:hover {
    background: #3b2f88;
    cursor: pointer;
}

.close-btn {
    background: #e63946;
    color: white;
}

.close-btn:hover {
    background: #c62839;
}
